@using Microsoft.AspNetCore.Identity
@using Arts.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-area="Music" asp-controller="Albums" asp-action="Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Album
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Log out
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in
            </a>
        </li>
    </ul>
}
